<!DOCTYPE html>
<html ng-app="friendBook">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="MainCtrl">


  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <h2>{{thisAppIsBroken}}</h2>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <!-- <input ng-model="friendFilter" class="form-control" placeholder="Search Anything About Your Friends"> -->
        <!-- STEP 5: Get rid of the one above when you uncomment the below-->

        <input ng-model="friendFilter.name" class="form-control" placeholder="Search Name">

        <input ng-model="friendFilter.current_location.state" class="form-control" placeholder="Search Location">


        <select ng-model="sortBy" class="input-medium">
          <option selected value="name">Name</option>
          <option value="friend_count">#Friends</option>
          <option value="current_location.city">City</option>
          <option value="current_location.state">State</option>
        </select>

        <label>Descending
          <input type="radio" ng-model="direction" name="name" checked>
        </label>
        <label>Ascending
          <input type="radio" ng-model="direction" name="name" value="reverse">
        </label>

      </div>
    </form>

    <ul ng-repeat="friend in friends | filter: friendFilter | orderBy: sortBy:direction">
      <li class="friend">
        <img class="profile-pic" ng-src="{{friend.pic_square}}">

        <h3>{{friend.name}}</h3>

        <div class="location">
          Location: {{friend.current_location.city}}, {{friend.current_location.state}}
        </div>

        <!-- <div class="status">
          Status: I hate the snow. I wish I was on the beach right now!!! <span class="hashtag">#ihateprovo</span>
        </div> -->


        <div class="num-friends">
          Friends: {{friend.friend_count}}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="app.js"></script>
  <script src="FriendController.js"></script>
  <script src="friendService.js"></script>
</body>
</html>
